*{
    margin: 0;
    border: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

button{
    background-color: white;
    height: 75px;
    width: 75px;
    margin: 5px;
    font-size: 40px;
    border: 1px solid black;
}

.buttonNumber:hover, .buttonEqual:hover, .buttonOperator:hover, #buttonClear:hover, .buttonDecimal:hover{
    background-color: rgb(202, 199, 199);
}

#display{
    height: 75px;
    width: 250px;
    margin: 5px;
    margin-right: 10px;
    font-size: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.line1{
    display: flex;
    
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


