*{
    margin: 0;
    border: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

button{
    background-color: white;
    height: 75px;
    width: 75px;
    margin: 5px;
    font-size: 40px;
    border: 1px solid black;
}

.display{
    height: 75px;
    width: 250px;
    margin: 5px;
    border: 1px solid black;
}

.line1{
    display: flex;
    flex-direction: row-reverse;
}

